.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #42566e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Schabo Font */
@font-face {
  font-family: "Schabo";
  src: url("./assets/fonts/SCHABO-Condensed.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Fliege Mono Font */
@font-face {
  font-family: "Fliege Mono";
  src: url("./assets/fonts/FliegeMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Fliege Mono";
  src: url("./assets/fonts/FliegeMono-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Fliege Mono";
  src: url("./assets/fonts/FliegeMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fliege Mono";
  src: url("./assets/fonts/FliegeMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fliege Mono";
  src: url("./assets/fonts/FliegeMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fliege Mono";
  src: url("./assets/fonts/FliegeMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Fliege Mono";
  src: url("./assets/fonts/FliegeMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fliege Mono";
  src: url("./assets/fonts/FliegeMono-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Fliege Mono";
  src: url("./assets/fonts/FliegeMono-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* Inter Font */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz,wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Italic-VariableFont_opsz,wght.woff2")
    format("woff2");
  font-weight: 100 900;
  font-style: italic;
}

/* Sage Grotesk Font */
@font-face {
  font-family: "Sage Grotesk";
  src: url("./assets/fonts/Sage Grotesk.woff2") format("woff2");
  font-style: normal;
}

/* Bebas Neue Font */
@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/fonts/BebasNeue-Regular.woff2") format("woff2");
  font-style: normal;
}
