::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(173, 173, 173);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(167, 167, 167, 0.7);
}
