::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 251, 255, 1);
  border: 1px solid;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 251, 255, 0.7);
}
