::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #42566E;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #819EC5;
}
  